.header-user-container {
  background-color: #2b6cb0;
  padding: 1rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: white;
}

.header-user-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-user-text {
  display: flex;
  flex-direction: column;
}

.header-user-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.header-user-target {
  font-size: 0.875rem;
}

.header-user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 2px solid white;
}
